@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: #1f3365be;
}

.hide-mobile-nav{
    height: 0;
    padding: 0 15px;
}

.show-mobile-nav{
    height: 200px;
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #aaaaaa41;
}


.swiper-button-prev, .swiper-button-next {
    color: #1F3365 !important; 
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 25px !important; 
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0.2 !important;
}

.navBar{
    display: none;
}

.navBar.showDropDown{
    display: flex;
}

.navBarOverlay.show, .navBarOverlayMobile.show{
    display: flex;
}



@media screen and (max-width: 768px) {
    .mobile-Filter{
        display: none;
    }
    .mobile-Filter.show-filter{
        display: flex;
        width: 90%;
        max-width: unset !important;
        position: absolute;
        top: 70px;
        right: 20px;
        box-shadow: 0px 5px 20px 3px #141a292f;
        z-index: 99;
    }
}

