<nav class="h-[60px] flex px-10 max-md:px-4 bg-white/80 backdrop-blur-md border-b-[1px] border-text-color/10 ">
    <!-- logo -->
    <div class=" h-full w-full flex flex-col justify-center items-start text-primary-color">
        <span class="text-3xl font-extrabold leading-7 tracking-tight">A.R.M.S</span>
        <span class="text-[6px] pr-1">Accident Report Managment System</span>
    </div>
    <!-- Links -->
    <div class="flex h-full w-full items-center justify-center gap-0 min-w-fit ">

        <a href="#"
            class="text-sm font-normal whitespace-nowrap w-fit h-full flex items-center justify-center py-2 px-6 border-b-[3px] hover:opacity-85 border-primary-color/90">
            Home
        </a>
        <a href="#"
            class="text-sm font-normal whitespace-nowrap w-fit h-full flex items-center justify-center py-2 px-6 border-b-[3px] hover:opacity-85 border-transparent">
            Explore
        </a>
        <a href="#"
            class="text-sm font-normal whitespace-nowrap w-fit h-full flex items-center justify-center py-2 px-6 border-b-[3px] hover:opacity-85 border-transparent">
            Report
        </a>
        <a href="#"
            class="text-sm font-normal whitespace-nowrap w-fit h-full flex items-center justify-center py-2 px-6 border-b-[3px] hover:opacity-85 border-transparent">
            Officers
        </a>
    </div>
    <!-- notification and Profile -->
    <div class="h-full w-full flex items-center justify-end gap-0 relative">
        <!-- <button
            class="h-[40px] w-fit gap-1 rounded-full hover:opacity-85 transition flex items-center justify-center">
            <i class='bx bx-plus text-[22px]'></i>
            <p class="text-sm whitespace-nowrap">Record</p>
        </button> -->
        <button
            class="h-[40px] w-auto aspect-square text-[22px] rounded-full hover:bg-text-color/10 transition active:bg-text-color/20 flex items-center justify-center">
            <i class='bx bx-image-add'></i>
        </button>
        <button
            class="h-[40px] w-auto aspect-square text-[22px] rounded-full hover:bg-text-color/10 transition active:bg-text-color/20 flex items-center justify-center">
            <i class='bx bx-bell'></i>
        </button>
        <button id="toggleButton"
            class="flex items-center justify-start hover:bg-text-color/10 rounded-full ml-3 pr-2 transition active:bg-text-color/20">
            <div
                class="h-[35px] w-auto aspect-square text-lg rounded-full bg-primary-color ring-4 ring-white text-white/90 flex items-center justify-center">
                <i class='bx bx-user'></i>
            </div>
            <p class="pl-2 capitalize text-sm whitespace-nowrap truncate text-ellipsis max-w-[120px]">Officer John</p>
            <i class='ml-[2px] bx bx-chevron-down text-base'></i>
        </button>

        <!-- Prifle Dropdown -->
        <!-- <div class="fixed top-0 left-0 w-full h-[100vh] z-20"></div> -->
        <div id="toggleContent"
            class=" absolute top-[90%] right-0 bg-white p-2 h-fit w-[230px] z-30 shadow-xl rounded-sm ring-1 ring-text-color/10 flex flex-col items-start justify-start">
            <div class="flex items-center p-[6px]">
                <div
                    class="h-[30px] w-auto aspect-square text-lg rounded-full bg-primary-color ring-4 ring-white text-white/90 flex items-center justify-center">
                    <i class='bx bx-user'></i>
                </div>
                <div class="flex flex-col">
                    <p
                        class="pl-2 capitalize text-sm whitespace-nowrap truncate text-ellipsis max-w-[120px] font-medium">
                        Officer John
                    <p
                        class="pl-2 capitalize text-xs whitespace-nowrap truncate text-ellipsis max-w-[120px] font-medium opacity-65">
                        B-ID: 2148D3

                </div>
                </p>
            </div>
            <span class="h-[1px] w-[90%] mx-auto bg-text-color/10 my-2"></span>
            <!-- 1 link -->
            <a href="#"
                class="w-full flex items-center py-1 px-3 gap-2 hover:bg-text-color/5 active:bg-text-color/10 rounded-sm ">
                <i class='bx bx-user text-xl opacity-60'></i>
                <p class="text-sm">My Profile</p>
            </a>
            <!-- 1 link -->
            <a href="#"
                class="w-full flex items-center py-1 px-3 gap-2 hover:bg-text-color/5 active:bg-text-color/10 rounded-sm ">
                <i class='bx bx-history text-xl opacity-60'></i>
                <p class="text-sm">Activity</p>
            </a>
            <!-- 1 link -->
            <a href="#"
                class="w-full flex items-center py-1 px-3 gap-2 hover:bg-text-color/5 active:bg-text-color/10 rounded-sm ">
                <i class='bx bx-help-circle text-xl opacity-60'></i>
                <p class="text-sm">Support Center</p>
            </a>
            <span class="h-[1px] w-[90%] mx-auto bg-text-color/10 my-2"></span>
            <!-- 1 link -->
            <a href="#"
                class="w-full flex items-center py-1 px-3 gap-2 hover:bg-text-color/5 active:bg-text-color/10 rounded-sm ">
                <i class='bx bx-log-out-circle text-xl text-red-500'></i>
                <p class="text-sm">Sign Out</p>
            </a>
        </div>

    </div>
</nav>
